<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="../../assets/images/user2-160x160.jpg" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Alexander Pierce</p>
          <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <!-- search form -->
      <form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
          <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      <!-- sidebar menu: : style can be found in sidebar.less -->
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">MAIN NAVIGATION</li>
        <li class="active treeview">
          <a [routerLink]="['/dash-panel']">
            <i class="fa fa-dashboard"></i> <span>Dashboard</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li class="active"><a [routerLink]="['/dash-panel']"><i class="fa fa-circle-o"></i> Dashboard v1</a></li>
            <li><a [routerLink]="['/dash-panel']"><i class="fa fa-circle-o"></i> Dashboard v2</a></li>
          </ul>
        </li>
        <li class="treeview">
          <a href="#">
            <i class="fa fa-files-o"></i>
            <span>Layout Options</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/Top-nav']"><i class="fa fa-circle-o"></i> Top Navigation</a></li>
            <li><a [routerLink]="['/boxed']"><i class="fa fa-circle-o"></i> Boxed</a></li>
            <li><a [routerLink]="['/fixed']"><i class="fa fa-circle-o"></i> Fixed</a></li>
            <li><a [routerLink]="['/collapse']"><i class="fa fa-circle-o"></i> Collapsed Sidebar</a></li>
          </ul>
        </li>
        
        
        
        <li class="treeview">
          <a [routerLink]="['/tables']">
            <i class="fa fa-table"></i> <span>Tables</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/simpleTables']"><i class="fa fa-circle-o"></i> Simple tables</a></li>
            <li><a [routerLink]="['/dataTables']"><i class="fa fa-circle-o"></i> Data tables</a></li>
          </ul>
        </li>
        
        <li>
          <a [routerLink]="['/Calender']">
            <i class="fa fa-calendar"></i> <span>Calendar</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-red">3</small>
              <small class="label pull-right bg-blue">17</small>
            </span>
          </a>
        </li>
        <!-- <li>
          <a [routerLink]="['/MailBox']">
            <i class="fa fa-envelope"></i> <span>Mailbox</span>
            <span class="pull-right-container">
              <small class="label pull-right bg-yellow">12</small>
              <small class="label pull-right bg-green">16</small>
              <small class="label pull-right bg-red">5</small>
            </span>
          </a>
        </li> -->
             
        
        <li class="treeview">
          <a [routerLink]="['/MailBox']">
            <i class="fa fa-files-o"></i>
            <span>MailBox</span>
            <span class="pull-right-container">
              <span class="label label-primary pull-right">4</span>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a [routerLink]="['/MailBox']"><i class="fa fa-circle-o"></i> Inbox</a></li>
            <li><a [routerLink]="['/compose']"><i class="fa fa-circle-o"></i> Compose</a></li>
            <li><a [routerLink]="['/Read']"><i class="fa fa-circle-o"></i> Read</a></li>
          </ul>
        </li>
      </ul>
      
    </section>
    <!-- /.sidebar -->
  </aside>
